html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: serif;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 1em;
    flex: 1 0 auto;
}

footer {
    text-align: center;
    padding: 1em;
    flex-shrink: 0;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
