<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">

    <title>{{title}}</title>
</head>

<body>
    <main>
        <h1>{{title}}</h1>
        <p>{{ date | date: "%Y %B %d" }}</p>
        {{ content }}
        <br>
    <a href="/">Back to website</a>
    </main>
    <footer>
        by snats
	<p>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.</p>
    </footer>
</body>

</html>
